<%= form_with(model: @booking, local: true) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
            <% @booking.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <%= f.hidden_field :flight_id, value: @flight.id %>
    <div class="columns m-6">
        <div class="column is-4 is-offset-1" id="flight_details">
            <div class="box has-text-left">
                <h3 class="is-size-4 has-text-weight-bold">Booking Flight For:</h3>
                <div class="m-3"> 
                    <p>
                        <strong>Flight:</strong>
                        <%= @flight.id %>
                    </p>
                    <p>
                        <strong>From: </strong>
                        <%= Airport.details(@flight.from_airport_id) %>
                    </p>
                    <p>
                        <strong>To: </strong>
                        <%= Airport.details(@flight.to_airport_id) %>
                    </p>
                    <p>
                        <strong>Departing At: </strong>
                        <%= @flight.departure_time.strftime('%a, %b %d, %Y at %l:%M %p') %>
                    </p>
                    <p>
                        <strong>Flight Time: </strong>
                        <%= Time.at(@flight.duration.to_i).utc.strftime("%k hr %M min") %>
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-5 box m-3" id="passenger_form">
            <h5 class="is-size-5 has-text-left"><strong>Please Enter Passenger Information</strong></h5>
            <% i = 0 %>
                <%= f.fields_for :passengers do |passenger_form| %>
                    <h6 class="is-size-6 has-text-left m-2"><strong>Passenger <%=  i+=1 if i != @passengers %></strong></h6>
                    <div class="field is-horizontal">
                        <div class="field-label is-align-self-center has-text-weight-semibold">
                            Name: 
                        </div>
                        <div class="field-body">
                            <%= passenger_form.text_field :name, required: true, class: 'input' %>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-align-self-center has-text-weight-semibold">
                            Email: 
                        </div>
                        <div class="field-body">
                            <%= passenger_form.text_field :email, required:true, class: 'input' %>
                        </div>
                    </div>
                <% end %>
            <%= f.submit 'Confirm Booking', class: "button" %>
        </div>
    </div>
<% end %>