<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice centered-text notification notice is-primary" onload="notificationTimeOut()"><%= notice %></p>
    <% end%>
    <% if flash[:alert] %>
      <p class="alert centered-text notification notice is-danger" onload="notificationTimeOut()"><%= alert %></p>
    <% end %>
    
    <section class="hero is-light is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%= link_to "flight_tracker", root_path, class: "navbar-item has-text-weight-bold is-size-5" %>
              <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to 'Search For Flights', root_path, class: 'navbar-item' %>
                <%= link_to 'Find Flight Bookings', bookings_path, class: 'navbar-item' %>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body is-align-items-start pt-0">
        <div class="container has-text-centered">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= javascript_pack_tag "index"%>
  </body>
</html>
